@import url(http://fonts.googleapis.com/css?family=Arimo:400,700);
@import url(http://fonts.googleapis.com/css?family=Source+Code+Pro);

h1, h2, h3, h4, h5, h6 {
  font-family: "Arimo", arial, verdana, sans-serif;
  font-weight: normal;
}

thead th, tbody th {
  font-family: "Arimo", arial, verdana, sans-serif;
}

.citation {
  margin-left: 2em;
  margin-right: 2em;
  font-family: 'Source Code Pro', 'Lucida Console', Monaco, monospace;
  border: 1px solid #dddddd;
  padding: 0.8em;
}

body {
  margin: 0;
  padding: 0 0 0 0;
  color: #000;
  font: normal 0.9em/150% 'Arimo', arial, verdana, sans-serif;
  text-shadow: 0px 0px 1px transparent; /* google font pixelation fix */
}

#footer {
  text-align: center;
  padding: 20px;
  margin: 0;
  border-top: 1px solid #ddd;
  color: #999;
  font-size: 0.8em;
  text-shadow: 0px 1px 1px #fff;
  position: relative;
  top: 0;
  left: 0;
}

.subtitle {
  font-size: 100%;
  font-style: italic;
}

p {
  margin-bottom: 1.3em;
}
